<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link rel="stylesheet" href="css/todolist.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<style>
  .list_item {
      display: flex;
      align-items: center;
      padding: 10px;
    }
    .new_item {
      display: flex;
      align-items: center;
      padding: 10px;
    }
    .item_text {
      margin-left: 15px;
      display:block;
      word-wrap:break-word;
    }
    .create_task_button {
      margin-left: 10px;
    }
    #new_task_text {
      background: white;
      max-width: 50%;
    }
</style>

<body>
  <div class="content">
    <h1>TodoList</h1>

    <div id="list"> </div>

    <form id="new_task">
      <div class="new_item">
        <input type="text" id="new_task_text" value="Create new task..."><br>
        <input class="create_task_button" type="submit" value="Create">
        </div>
    </form>

    <hr />

    <div id="show_completed_tasks_toggle" class="list_item">
      <img id="show_completed_tasks_img" src="images/unchecked.png">
      <span class="item_text">Show completed tasks</span>
    </div>

  </div>
  <script>
    var API_URL = "http://localhost:8080/api/task";
    var SHOW_COMPLETED_TASKS = false;
    var ALL_TASKS = [];

    $(document).ready(function() {
      $.ajax({
        url: API_URL + "/all",
        type: 'GET',
        success: function(response) {
          ALL_TASKS = response;
          refreshList();
        },
        error: function(e) {
          // TODO
        }
      });
    });

    function refreshList() {
      $("#list").empty();

      for (var i = 0; i < ALL_TASKS.length; i++) {

        var task = ALL_TASKS[i];
        if (!task.completed || (task.completed && SHOW_COMPLETED_TASKS)) {
          appendToList(task.id, task.name, task.completed);
        }
      }
    }

    function appendToList(taskId, taskName, completed) {

      var image = completed ? "checked" : "unchecked";

      $("#list").append(`
      <div id="item_${taskId}" class="list_item">
        <img id="item_${taskId}_image" src="images/${image}.png">
        <span class="item_text"> ${taskName}</span>
      </div>
    `);
    }

    function removeFromList(taskId) {
      $(`#item_${taskId}`).remove();
    }

    $("#show_completed_tasks_toggle").click(function(event) {
      SHOW_COMPLETED_TASKS = !SHOW_COMPLETED_TASKS; // invert selection

      var image = SHOW_COMPLETED_TASKS ? "checked" : "unchecked";
      $("#show_completed_tasks_img").attr('src', `images/${image}.png`);

      refreshList();
    });

    $("#new_task").submit(function(event) {

      var newTaskText = $("#new_task_text").val();
      $.ajax({
        url: API_URL + "/new",
        contentType: "application/json",
        type: 'PUT',
        data: JSON.stringify({
          "name": newTaskText
        }),
        success: function(response) {
          var taskId = response.id; // append to list using server-assigned ID
          var completed = false; // all new tasks are incomplete

          ALL_TASKS.push(response);

          appendToList(taskId, newTaskText, completed)
        },
        error: function(e) {
          // TODO
        }
      });

      event.preventDefault();
    });

    $('#list').on('click', '.list_item', function() {

      var taskId = this.id.split("_")[1];
      var taskName = this.children[1].innerText;

      var itemImage = $(this).children('img')[0];
      var isCurrentlyChecked = itemImage.src.indexOf("unchecked") === -1;

      var updatedTask = {
        id: taskId,
        name: taskName,
        completed: !isCurrentlyChecked
      };

      for (var i = 0; i < ALL_TASKS.length; i++) {
        if (ALL_TASKS[i].id == taskId) {
          ALL_TASKS[i] = updatedTask;
        }
      }

      $.ajax({
        url: API_URL + "/update",
        contentType: "application/json",
        type: 'POST',
        data: JSON.stringify(updatedTask),
        success: function(reponse) {

          if (isCurrentlyChecked) {
            $("#" + itemImage.id).attr('src', 'images/unchecked.png');
          } else {

            if (SHOW_COMPLETED_TASKS) {
              $("#" + itemImage.id).attr('src', 'images/checked.png');
            } else {
              removeFromList(taskId);
            }
          }
        },
        error: function(e) {
          // TODO
        }
      });
    });
  </script>
</body>

</html>
